<div class="main-container">
    <h1 id="tic-title" (click)="easterEgg();"  class="mat-display-2" style="font-weight: 900; text-align: center; color: #fff; margin: 15px 0;">Tic-Tac-Toe</h1>
    <div style="display: none;"  id="easteregg">0</div>
    <div class="field  d-flex justify-content-center">
        <p  class="current-status mat-display-1"style="color: #fff;">Start the game on the button</p>
    </div>
    <div class="field d-flex justify-content-center" style="width: 100%;">
        <button (click)="startAI()" style="margin-right: 10px;" mat-raised-button color="accent" class="start-game-button" id="start_ai">
            Start Game Against Computer!
        </button>
        <button (click)="startGame()" mat-raised-button color="accent" class="start-game-button" id="start_button">
            Start Game Co-Op!
        </button>
    </div>
    <div *ngIf="this.game.gameStatus===1 || this.game.gameStatus===2" class="gameboard">
        <div class="players player-one align-self-center">
            <p class="mat-body-1" style="font-weight: 700; margin: 0 0 10px 10px;">Player</p>
        </div>
        <div id="board" class="gamefield container-fluid">
            <div class="row">
                <div (click)="clickSubfield($event)" id="0" position="0" class="subfield col-4"></div>
                <div (click)="clickSubfield($event)" id="1" position="1" class="subfield col-4"></div>
                <div (click)="clickSubfield($event)" id="2" position="2" class="subfield col-4"></div>
            </div>
            <div class="row">
                <div (click)="clickSubfield($event)" id="3" position="3" class="subfield col-4"></div>
                <div (click)="clickSubfield($event)" id="4" position="4" class="subfield col-4"></div>
                <div (click)="clickSubfield($event)" id="5" position="5" class="subfield col-4"></div>
            </div>
            <div class="row">
                <div (click)="clickSubfield($event)" id="6" position="6" class="subfield col-4"></div>
                <div (click)="clickSubfield($event)" id="7" position="7" class="subfield col-4"></div>
                <div (click)="clickSubfield($event)" id="8" position="8" class="subfield col-4"></div>
            </div>
        </div>
        <div class="players player-two align-self-center">
            <p class="mat-body-1" style="font-weight: 700; margin: 0 0 10px 10px;">Player</p>
        </div>
    </div>
</div>
